@import url('https://fonts.googleapis.com/css2?family=Bahiana&family=Roboto+Slab&family=Roboto:ital,wght@0,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2? family= Noto+Serif:wght@700 & family= Open+Sans:wght@500 & family= Roboto+Slab:wght@700 & família= Roboto:wght@400;700 & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bahiana&family=Roboto&family=Roboto+Slab&display=swap');

body {
    background-color: #121C30;
}

.logo {
    color: var(--red, #EC1F1D);
    font-family: 'Bahiana';
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
}

nav {
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.navegacao ul {
    padding: 0;
}

.navegacao li {
    display: inline-flex;
    list-style: none;
    margin-right: 50px;
    margin-top: 3vh;
}

.navegacao li a {
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.navegacao a:hover {
    color: #EC1F1D;
    transition: 1s;
}

.barraPesquisa {
    margin-top: 10px;
}

#botaoPesquisa {
    background-color: transparent;
    border: 1px solid #121C30;
    color: #000;
}

#campoBusca {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    width: 213.4px;
    height: 22px;
}

.container h2{
    color: #FFF;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    margin-top: 20px;
    margin-bottom: 15px;
}

.cards{
    display: grid;
    gap: 35px;
    margin-right: 50px;
    margin-left: 50px;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.postSerie{
    color: #fff;
    margin: 0;
    padding: 0;
}

#post1{
    width: 180;
    height: 250px;
    margin: 3rem 0;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.slide{
    height: 28rem;
    width: 100%;
}